h1{
    font-family: 'Modak', cursive;
    font-size: 150px;
    text-align: center;
    color:03045e;
}
h2{
    font-size:50px;
    color:0096c7;
}
h4{
    font-size:25px;
    color:0096c7;
}
p{
    color:ff6b6b;
}
input{
    text-align:center;
}
body{
    font-family: 'Do Hyeon', sans-serif;
    background-color:eddcd2;
    text-align:center;
    font-size:30px;
}
.correct{
    border-color: 007f5f;
    color: 007f5f;
}
.incorrect{
    border-color: e71d36;
    color: e71d36;
}